<div class="accordion-item", style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);border: 1px solid rgba(0, 0, 0, 0.1);"
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse<%= dom_id task %>" aria-expanded="false" aria-controls="flush-collapse<%= dom_id task %>", style="background-color: white;">
      <%= render 'accordion_item_header', task: task %>    
    </button>
  </h2>
  <div id="flush-collapse<%= dom_id task %>" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <%= render 'accordion_item_body', task: task %>    
    </div>
  </div>
</div>