<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse<%= dom_id task %>" aria-expanded="false" aria-controls="flush-collapse<%= dom_id task %>", style="background-color: white;">
      <column, style="width:100%">
        <h5><%= task.title %></h5>
        <div class="card">
          <div class="card-body", style="text-align: center;">
            <h10, style="color: rgba(64, 64, 64, 0.8);">
              Criação em <%= month_day_comma_year(task.created_at) %>
              <span class="vertical-bar"></span>
              Vencimento em <%= month_day_comma_year(task.due_date) %>.
              <span class="vertical-bar"></span>
              Dias disponíveis na totalidade <%= task.days_until_due %>.
              <span class="vertical-bar"></span>
              Dias disponíveis na atualidade <%= task.days_until_due_date %>.
              </h10>
                <h10, style="color: rgba(64, 64, 64, 0.8)">
                <p>
                  <h10, style="color: rgba(64, 64, 64, 0.8)"> Dias disponíveis na percentagem de <%= task.percentage_days_remaining.round(2) %>%.</h10>
                </>
              </h10>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="<%= task.percentage_days_remaining.round(2) %>" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar <%= progressbar_type(task) %>" style="width: <%= task.percentage_days_remaining.round(2) %>%"></div>
              </div>
          </div>
        </div>
      </column>
    </button>
  </h2>
  <div id="flush-collapse<%= dom_id task %>" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <div class="card">
        <div class="card-body">
          <%= task.description %>
        </div>
      </div>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example", style="padding-bottom: 18px">
      <%= button_to "Edit this task", edit_category_task_path(@category, task), method: :get, class: 'btn btn-outline-primary' %>&nbsp;&nbsp;
      <%= button_to "Destroy this task", task, method: :delete, class: 'btn btn-outline-danger' %>
    </div>
  </div>
</div>